<div class="card">
    <div class="card-body p-3">
        <h5 class="card-title">Blue Green Deployment</h5>
        <h6 class="card-subtitle mb-2 text-muted">Continuous Deployment</h6>
        <p class="card-text">A Blue / Green deployment is used by both the webapp and the backend microservice. in case
            of failure it will rollback to the previous version of the application.
        </p>
        <a href="{{ config.AWS_CONSOLE_BASE_URL }}/codesuite/codepipeline/pipelines" class="card-link">Open the AWS
            CodePipeline Console</a>
    </div>
</div>
