<div class="card">
    <div class="card-body p-3">
        <h5 class="card-title">Redis Session Store</h5>
        <h6 class="card-subtitle mb-2 text-muted">High Availability</h6>
        <p class="card-text">The application is configured to use a Redis Cluster as a Session Store. This allows for
            failover capability and uninterrupted service during deployment. You can test it by simply updating the
            current application and check that your session is still valid.
        </p>
        <a href="https://eu-central-1.console.aws.amazon.com/elasticache/home#/redis" class="card-link">Open the AWS
            Elasticache Console</a>
    </div>
</div>
