{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
<link href="signin.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <form action="{{url_for('authentication_blueprint.login')}}" method='POST'>
        <img class="mb-4" src="{{ config.ASSETS_ROOT }}/img/brand.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"><span
                      class="material-symbols-outlined">remember_me</span>Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit"><span class="material-symbols-outlined">Login</span>Sign
            in</button>
    </form>
</main>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
